<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1><%= Advertisement_1.title %></h1>

      <p><%= Advertisement_1.description %></p>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
